@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: #3a3a3a;
    background-color: #1a1a1a;
    background-image: url("../Background_PlanningPoker.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Cartes */
.poker-card {
    width: 80px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #1a202c;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    cursor: pointer;
    border: 3px solid transparent;
}

.poker-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.poker-card.selected {
    border-color: #4c51bf;
    background-color: #ebf4ff;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

.poker-card-coffee {
    background-color: #f6e05e;
    color: #1a202c;
}

.poker-card-question {
    background-color: #ed8936;
    color: #ffffff;
}

.card {
  background-color: #2b2b2b;
  border: 1px solid #444;
  color: #f0f0f0;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  background-color: #3b3b3b;
}

button {
    background-color: #5c5d5d;   /* gris sombre */
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background: linear-gradient(145deg, #2c2c2c, #1a1a1a);
    border: 1px solid #444;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.1),
              0 4px 6px rgba(0,0,0,0.6);
}

button:hover {
  background-color: #3f3f3f;
}

input, select, textarea{
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #555;
}

input::placeholder, select, textarea::placeholder {
  color: #aaa;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
}